<div class="container">
  <div class="row mt-5" >
    <div class="col-2">
      <a (click)="show = !show">
      <h5 class="card-title text-center">
        <i class="fa-solid fa-circle-plus fa-2x" style="color: #062526"></i>
        <p *ngIf="!show">Créer un dossier</p>
      </h5>
      </a>
      <form *ngIf="show" (ngSubmit)="addFolder()">

        <div class="mb-3 mt-3">
          <input name ="newLabel" type="text" class="form-control" placeholder="Nommer votre projet" [(ngModel)]="newLabel">
          <p>{{ newLabel }}</p>
          <p *ngIf="existingLabelError">Le nom existe déjà</p>
          <button class="btn btn-primary mt-2" type="submit">Créer</button>
          <button class="btn btn-danger mt-2 ms-2" type="button">Annuler</button>
        </div>
      </form>
    </div>
    <div class="col-1" *ngFor="let folder of folders; let i = index">
      <a [routerLink]="['/daily', folder.id]">
      <h5 class="card-title text-center">
        <i class="fas fa-folder fa-2x" style="color: #0b82f9"></i>
        <p> {{ folder.label }}</p>
      </h5>
      </a>
    </div>
  </div>

</div>
  