<div class="jumbotron vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-5 offset-4">
                <div class="card">
                    
                    
                    <h3>Merci pour votre enregistrement</h3>
                    
                    <div class="formGroup"> <!--*ngIf="authService.userData as user"-->
                        <p>
                            Nous avons envoyé un mail de confirmation
                            <!-- <strong>{{ user.email }}</strong -->
                                
                            </p>
                            <p>SVP vérifiez votre boite mail</p>
                        </div>
                        
                        <div class="formGroup">
                            <p-button label="Rénvoie de la verification Email" styleClass="p-button-rounded" type="submit"></p-button>
                            <p-button label="Retour login" styleClass="p-button-rounded" [routerLink]="['/login']"></p-button>       
                        </div>
            </div>
        </div>
    </div>
    </div>
</div>
