<div class="container">
    <div class="row">
        <div class="col-md-3 my-5">
            <button [routerLink]="['/interface']" class="btn btn-primary">
                retour
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h1 class="text-center">
                {{folder?.label}}
            </h1>
            <div class="d-flex align-items-center justify-content-center text-center">
                <p *ngIf="stateDaily === 'init'">Début du daily</p>
                <p *ngIf="stateDaily === 'process' ">{{ user.name }} prend la parole</p>
                <p *ngIf="stateDaily === 'end' "> Daily est fini</p>
            </div>
          
            <div class="d-flex align-items-center justify-content-center text-center" style="height: 500px;">
                <button (click)="startTimer()" class="btn btn-success" style="margin-right:30px">Start</button>
                <button (click)="nextUser()" class="btn btn-success" style="margin-right:30px" [disabled]="stateDaily ==='end'">Next</button>
                <button (click)="pauseTimer()" class="btn btn-primary" style="margin-right:30px">Pause</button>
                <button (click)="resumeTimer()" class="btn btn-primary" style="margin-right:30px">Reprendre</button>
                <button (click)="resetTimer()"class="btn btn-danger" style="margin-right:30px">Reset</button>
                <p> {{formatTimer(minutes)}} : {{formatTimer(seconds)}}</p>  
            </div>
        </div>

        <div class="col-4">            
            <h3>Liste d'utilisateurs</h3>
            <div class="my-3">
                <form [formGroup]="addUsersForm" (ngSubmit)="addUserFirestore()">
                    <div class="mb-3">
                        <label for="username" class="form-label">Ajouter un nom d'utilisateur</label>
                        <input type="text" class="form-control" id="username" formControlName="username">
                         <div *ngIf="usernameError" class="form-text"><p>{{ usernameError }}</p></div> 
                    </div>
                    <div>
                        <p-dropdown placeholder="Select a category" [options]="category" formControlName="category" optionValue="name" [showClear]="true" optionLabel="name"></p-dropdown>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!this.addUsersForm.value.username">Add a user</button>
                </form>
            </div>
            <ul class="list-group">
                <li *ngFor="let user of usersList" class="list-group-item" [ngStyle]="{'font-weight': isCurrentUserSpeaking(user) ? 'bold' : 'normal'}" [class.active]="isCurrentUserSpeaking(user)">
                    <div *ngIf="!isEditUsername(user)" class="username">
                        <p-avatar [label]="user.name[0].toUpperCase()" styleClass="me-2 text-dark" shape="circle" [style]="getColorByCategory(user?.category)"></p-avatar>
                        <span>{{user.name}}</span>
                    </div>
                    <div class="p-inputgroup" *ngIf="isEditUsername(user)" >
                        <input name ="editLabel" type="text" pInputText placeholder="Keyword" [(ngModel)]="editUsername" />
                        <button type="button" pButton icon="pi pi-check" styleClass="p-button-warn" [disabled]="!editUsername" (click)="editUser(user)"></button>
                        <button type="button" pButton icon="pi pi-times" styleClass="p-button-danger" (click)="idUserSelected = ''"></button>
                    </div>
                    <div *ngIf="this.stateDaily !== 'process' && !isEditUsername(user)">
                        <i class="fa-solid fa-pencil" (click)="idUserSelected = user.id"></i>    
                        <i class="fa-solid fa-trash"  (click)="deleteUser(user)"></i>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '30vw'}" [breakpoints]="{'960px': '50vw'}"></p-confirmDialog> 