<div class="container">
    <div class="row">
        <div class="col-md-6 " class="d-flex align-items-center justify-content-center text-center">
            <p *ngIf="stateDaily === 'init'">début du daily</p>
            <p *ngIf="stateDaily === 'process' ">{{ users[index] }} est le suivant</p>
            <p *ngIf="stateDaily === 'end' "> daily est fini</p>
        </div>
      
        <div class="col-md-6" class="d-flex align-items-center justify-content-center text-center" style="height: 800px;">
        
            <button (click)="startTimer()" class="btn btn-success" style="margin-right:30px">start</button>
            <button (click)="stopTimer()"class="btn btn-danger" style="margin-right:30px">stop</button>
            <button (click)="resetTimer()"class="btn btn-primary" style="margin-right:30px">resetTimer</button>
            <p> {{formatTimer(minutes)}} : {{formatTimer(seconds)}}</p>  
        </div>
    </div>
</div>