<div class="container">
    <div class="row">
        <div class="col-md-3 my-5">
            <button routerLink="" class="btn btn-primary">
                retour
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h1 class="text-center">
                {{folder?.label}}
            </h1>
            <div class="d-flex align-items-center justify-content-center text-center">
                <p *ngIf="stateDaily === 'init'">début du daily</p>
                <p *ngIf="stateDaily === 'process' ">{{ user.name }} prend la parole</p>
                <p *ngIf="stateDaily === 'end' "> daily est fini</p>
            </div>
          
            <div class="d-flex align-items-center justify-content-center text-center" style="height: 500px;">
                <button (click)="startTimer()" class="btn btn-success" style="margin-right:30px">start</button>
                <button (click)="stopTimer()"class="btn btn-danger" style="margin-right:30px">stop</button>
                <button (click)="resetTimer()"class="btn btn-primary" style="margin-right:30px">resetTimer</button>
                <p> {{formatTimer(minutes)}} : {{formatTimer(seconds)}}</p>  
            </div>
        </div>

        <div class="col-4">            
            <h3>Liste d'utilisateurs</h3>
            <div class="my-3">
                <form [formGroup]="addUsersForm" (ngSubmit)="addUserFirestore()">
                    <div class="mb-3">
                        <label for="username" class="form-label">Ajouter un nom d'utilisateur</label>
                        <input type="text" class="form-control" id="username" formControlName="username">
                         <div *ngIf="usernameError" class="form-text"><p>{{ usernameError }}</p></div> 
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!this.addUsersForm.value.username">Add a user</button>
                </form>
            </div>
            <ul class="list-group">
                <li *ngFor="let user of usersList" class="list-group-item" [ngStyle]="{'font-weight': isCurrentUserSpeaking(user) ? 'bold' : 'normal'}" [class.active]="isCurrentUserSpeaking(user)">{{user.name}}<i class="fa-solid fa-trash" *ngIf="this.stateDaily !== 'process'" (click)="deleteUser(user)"></i></li>
            </ul>
        </div>

    </div>
</div>