.list-group-item{
    display: flex;
    justify-content: space-between;
    i{
        margin-left: auto;
        cursor: pointer;
        padding: 5px;
    }
}

.username{
    span{
        text-transform: capitalize;
    }
}

