/* You can add global styles to this file, and also import other style files */
.scrum-master{
    background-color: aquamarine;
}

.dev{
    background-color:darkslateblue;
}

.productOwner{
    background-color:sandybrown;
}